/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);
/* line 6, src/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, src/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, src/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, src/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, src/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, src/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, src/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, src/scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 16, src/scss/style.scss */
body {
  background-color: #3E88E7;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

/* line 24, src/scss/style.scss */
a {
  color: #FFF;
}

/* line 28, src/scss/style.scss */
.image {
  background-color: #00DB88;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/muziekkapel.jpg");
  background-size: cover;
  background-position: center;
}
/* line 37, src/scss/style.scss */
.image.image-2 {
  background-image: url("../img/muziekkapel2.jpg");
}
/* line 41, src/scss/style.scss */
.image.image-3 {
  background-image: url("../img/muziekkapel3.jpg");
}

/* line 46, src/scss/style.scss */
.sidebar {
  margin: 0;
  box-sizing: border-box;
  background-color: #3E88E7;
  padding: 45px 0 30px;
}
/* line 52, src/scss/style.scss */
.sidebar .content {
  padding: 0 10%;
  box-sizing: border-box;
}
/* line 56, src/scss/style.scss */
.sidebar .content h1 {
  margin: 45px 0 30px;
  text-align: center;
  font-family: "Ubuntu", serif;
  font-size: 4rem;
}
/* line 63, src/scss/style.scss */
.sidebar .content h1 span {
  text-align: center;
  padding: 5px 0;
  display: block;
  font-size: 3.9rem;
}
/* line 71, src/scss/style.scss */
.sidebar .content p {
  margin: 30px 0 15px;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
/* line 80, src/scss/style.scss */
.sidebar .links {
  margin: 50px auto 0;
  width: 250px;
}
/* line 5, src/scss/style.scss */
.sidebar .links:after {
  content: "";
  display: table;
  clear: both;
}
/* line 86, src/scss/style.scss */
.sidebar .links li {
  display: block;
  padding: 0 8px;
  float: left;
}
/* line 91, src/scss/style.scss */
.sidebar .links li a {
  font-size: 1.4rem;
  color: #FFF;
}

@media (min-width: 768px) {
  /* line 100, src/scss/style.scss */
  .image {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    min-height: 100vh;
    width: 50%;
  }

  /* line 109, src/scss/style.scss */
  .sidebar {
    padding: 30px 0;
    min-height: 100vh;
    width: 50%;
    float: left;
  }
  /* line 115, src/scss/style.scss */
  .sidebar .content {
    padding: 0 20%;
    min-height: 70vh;
  }
}
@media (min-width: 1024px) {
  /* line 123, src/scss/style.scss */
  .image {
    width: 55%;
  }

  /* line 127, src/scss/style.scss */
  .sidebar {
    width: 45%;
    padding-top: 20px;
  }
  /* line 131, src/scss/style.scss */
  .sidebar .links {
    margin: 30px auto 0;
  }
}
@media (min-width: 1400px) {
  /* line 138, src/scss/style.scss */
  .image {
    width: 70%;
  }

  /* line 142, src/scss/style.scss */
  .sidebar {
    width: 30%;
    padding-top: 90px;
  }
  /* line 145, src/scss/style.scss */
  .sidebar .content {
    min-height: 75vh;
  }
}
