@import "_reset.scss";
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
	font-size:62.5%;
}

body {
	background-color: #3E88E7;

	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
}

a {
  	color: #FFF;
 }

.image {
	background-color: #00DB88;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url('../img/muziekkapel.jpg');
	background-size: cover;
	background-position: center;

	&.image-2 {
		background-image: url('../img/muziekkapel2.jpg');
	}

	&.image-3 {
		background-image: url('../img/muziekkapel3.jpg');
	}
}

.sidebar {
	margin: 0;
	box-sizing: border-box;
	background-color: #3E88E7;
	padding: 45px 0 30px;

	.content {
		padding: 0 10%;
		box-sizing: border-box;

	  	h1 {
	  		margin: 45px 0 30px;

			text-align: center;
	  		font-family: "Ubuntu", serif;
	  		font-size: 4rem;

	  		span {
	  			text-align: center;
	  			padding: 5px 0;
	  			display: block;
	  			font-size: 3.9rem;
	  		}
	  	}

	  	p {
	  		margin: 30px 0 15px;
			padding: 0;

			font-size: 1.4rem;
			line-height: 2.1rem;
	  	}
	}

  	.links {
		margin: 50px auto 0;
  		width: 250px;

		@include clearfix();

  		li {
  			display: block;
  			padding: 0 8px;
  			float: left;

  			a {
  				font-size: 1.4rem;
  				color: #FFF;
  			}
  		}
  	}
}

@media (min-width : 768px) {
	.image {
		position:fixed;
		right: 0;
		top:0;
		display: block;
		min-height: 100vh;
		width: 50%;
	}

	.sidebar {
		padding: 30px 0;
		min-height: 100vh;
		width: 50%;
		float: left;

		.content {
			padding: 0 20%;
			min-height: 70vh;
		}
	}
}

@media (min-width : 1024px) {
	.image {
		width: 55%;
	}

	.sidebar {
		width: 45%;
		padding-top: 20px;

		.links {
			margin: 30px auto 0;
		}
	}
}

@media (min-width : 1400px) {
	.image {
		width: 70%;
	}

	.sidebar {
		width: 30%;
		padding-top: 90px;
		.content {
			min-height: 75vh;
		}
	}
}